<h1>Add New Skill</h1>

<%= form_with model: @skill do |form| %>
  <div>
    <%= form.label :skill_name %><br>
    <%= form.text_field :skill_name %>
    <% @skill.errors.full_messages_for(:skill_name).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>
  <div>
    <%= form.submit %>
  </div>
<% end %>

<%# <%= link_to "Login", login_path %> 
